#!/usr/bin/make -f

psource:=ar5523-source
sname:=ar5523
PACKAGE=ar5523-modules

%:
	dh ${@}

override_dh_installdirs:
	dh_installdirs -p$(psource) usr/src/modules/$(sname)/debian

override_dh_install:
	# upstream
	cp 	*.c \
		*.h \
		Makefile \
	        	debian/$(psource)/usr/src/modules/$(sname)
	
	# debianisation
	cp	debian/control.modules.in \
			debian/$(psource)/usr/src/modules/$(sname)/debian/control
	cp	debian/rules.modules \
			debian/$(psource)/usr/src/modules/$(sname)/debian/rules
	chmod +x debian/$(psource)/usr/src/modules/$(sname)/debian/rules
	cp	debian/changelog \
		debian/compat \
		debian/control \
		debian/control.modules.in \
		debian/copyright \
			debian/$(psource)/usr/src/modules/$(sname)/debian/
	
	cd debian/$(psource)/usr/src && \
		tar -cjf $(sname).tar.bz2 modules && \
		rm -rf modules
	dh_install
